@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Księgarnia MVC</h1>
    <h2>Aplikacja do zarządzania stanem księgarni</h2>
    <span>Aplikacja umożliwia wyświetlanie, dodawanie, edycję i usuwanie książek. Dodatkowo, można definiować nowych klientów księgarni. W zakładce książki zaimplementowana została funkcjonalność wyszukiwania rekordów po całości lub fragmencie tytułu, a także możliwość sortowania po tytule oraz dacie wypożyczenia</span>
</div>
